absl-py >= 1.4.0
ml-collections >= 0.1.1
wandb >= 0.15.10
torch >= 2.0.1
gymnasium[mujoco,atari] >= 0.29.1
envpool >= 0.8.3
numpy >= 1.24.3
tensorflow >= 2.13.0
tensorboard >= 2.13.0
jax >= 0.4.14
jaxlib >= 0.4.14
flax >= 0.7.2
tensorflow_probability >= 0.21.0